.App {
  text-align: center;
  background-color:#282b3d;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.overlay{
  cursor: pointer;
}
.me{
  color: white;
  font-size: 5;
}